apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-tekton
  namespace: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-tekton
  template:
    metadata:
      labels:
        app: hello-tekton
    spec:
      containers:
        - name: hello-tekton
          image: alpine:latest
          command: ["/bin/sh", "-c"]
          args: ["while true; do echo 'v1.3 Hello World from Tekton + Argo CD v1.3'; sleep 10; done"]
